.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .name {
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
    }
  
    .email a {
      color: #ccc;
      text-decoration: none;
  
      &:hover {
        color: #7a7b79;
        text-decoration: underline;
      }
    }
  
    .socialLinks {
      display: flex;
      gap: 15px;
  
      a {
        color: #ccc;
        text-decoration: none;
        transition: color 0.3s ease;
  
        &:hover {
        color: #7a7b79;
        }
      }
    }
  
    .copyright {
      margin-top: 20px;
      font-size: 0.8rem;
      color: #888;
    }
  }
  