.about {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    background-color: #000;
    background-image: url("../../assets/img/bg1.avif");

background-repeat: no-repeat;
background-position: center;
background-size: cover;


  
    .title {
      text-align: left;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 30px;
      color: #eceaea;
      font-size: 15rem;

      
  
      h2 {
        font-size: 5rem;
        font-weight: bold;
       color: #eceaea;
;

      }
    }
  
    .presentation {
      width: 100%;
      max-width: 800px;
      text-align: center;
      margin-bottom: 50px;
  
      p {
        font-size: 3rem;
        line-height: 1.8;
        color: #eceaea;
        text-align: start;

      }
    }
  
    .journey {
      width: 100%;
      max-width: 1200px;
      margin-bottom: 50px;
      
  
      h4 {
        font-size: 10rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #eceaea;
      }
  
      .timeline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 0 10px;
      }
  
      .square {
        width: 100%;
        height: 100px;
        background-color: #1E5631;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 10px;
        padding: 10;
      }
  
      .arrow {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
      }
    }
  
    .vision {
      width: 100%;
      max-width: 800px;
      text-align: center;
  
      h4 {
        font-size: 10rem;
        font-weight: bold;
        margin-bottom: 20px;
       color: #eceaea;

      }
  
      p {
        font-size: 2rem;
        line-height: 1.8;
        color: #fff;
      }
    }
  
    .separator {
      width: 80%;
      border: none;
      border-top: 2px solid #ddd;
      margin: 30px 0;
    }
  }
  .about {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  
    .title {
      text-align: left;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 30px;
  
      h2 {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  
    .presentation {
      width: 100%;
      max-width: 800px;
      text-align: center;
      margin-bottom: 50px;
  
      p {
        font-size: 1rem;
        line-height: 1.8;
        color: #eceaea;

      }
  
      .readMoreButton {
        background-color: #046971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #14501c;
        }
      }
  
      .additionalText {
        margin-top: 20px;
        font-size: 1rem;
        color: #555;
        line-height: 1.8;
      }
    }
    .journey {
      width: 100%;
      max-width: 1200px;
      margin-bottom: 50px;
    
      h4 {
        font-size: 10rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: start;
      }
    
      .timeline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 0 10px;
      }
    
      .square {
        width: 100%;
        height: 100px;
        background-color:  #323d33;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
      }
    
      .arrow {
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
      }
    
      
      @media (max-width: 768px) {
        .timeline {
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
        }
    
        .square {
          width: 45%; 
        }
      }
    
      @media (max-width: 480px) {
        .timeline {
          flex-direction: column;
          align-items: center;
        }
    
        .square {
          width: 80%; 
        }
      }
    
      @media (max-width: 375px) {
        .square {
          width: 90%;
          font-size: 0.9rem; 
        }
      }
    }
    
  
    .vision {
      width: 100%;
      max-width: 800px;
      text-align: center;
  
      h4 {
        font-size: 10rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1rem;
        line-height: 1.8;
        color: #eceaea;
        text-align: end;
      }
    }
  
    .separator {
      width: 80%;
      border: none;
      border-top: 2px solid #ddd;
      margin: 30px 0;
    }
  }
  